<%- include("Partials/editPageHeader"); -%>
    <!-- cpmpose route -->
    <main id="main-section">
        <div class="compose-container">
            <h2>Edit Post</h2>

            <form action="/edits" method="POST">
                <input name="title" value="<%=title%>" class="title-input" placeholder="title.." type="text">
                <textarea class="title-input" name="content" id="" placeholder="content..." cols="30" rows="10"><%=content%></textarea>
                <button class="btn" type="submit" name="buttonId" value="<%=editId%>">Save Changes</button>
            </form>
            
        </div>
    </main>
<%- include("Partials/editPageFooter"); -%>