<%- include("Partials/header"); -%>

    <section id="post-section">
        <div class="post-container">
            <div class="innerPost-container">
               <h1><%=title%></h1>
               <p><%=content%></p>
               <div class="small-container">
                    <a href="/edits/<%=post%>"><input type="button" class="btn-p edit-btn" value="edit"></a>
                </div>
            </div>
        </div>
    </section>

<%- include("Partials/footer"); -%>